@charset "utf-8";

*{margin : 0;
padding : 0;
text-indent : 0;}

a{
  text-decoration: none;
  color : #000;
}


$color : #CD6799  #fff #000 ;


header {
  width : 80%;
  margin : 0 auto;
  text-align : center;
}

header img {
  width : 150px;
  height : 120px;
}

dl{
  width : 80%;
  margin : 0 auto;
  border-top : 2px solid #000;
  border-left : 2px solid #000;
  border-right : 2px solid #000;
}


dt{
  background-color : nth($color,1);
  color : nth($color,3);
  font-size : 24px;
  height : 50px;
  line-height : 50px;
  border-bottom : 4px solid #777;
  text-indent : 10px;
}
dd{
  height : 40px;
  border-bottom : 1px solid #333;
}

dd a {
  background-color : #999;
  display : block;
  line-height : 40px;
  font-size : 18px;
  color : nth($color,2);
  text-indent : 15px;
}